{%extends "base.html" %}
<h1>notice</h1>
{% block title %}notice{%endblock%}
{% block main %}


<section class="mb-20 border-t-2 border-green-800"></section>
<div class="flex flex-row gap-4 mb-20 text-white uppercase">

<!-- <div class=" bg-gradient-to-r from-green-900 via-green-600 to-green-900 w-1/2 mx-auto mt-1 md:p-14 shadow-2xl overflow-hidden sm:rounded-lg backdrop-blur-sm border-2 border-white">
        <section class=" text-center border-b-2 border-white">
            <p class="uppercase border-b-2 border-white text-3xl">promotion</p> 
            <div>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex rounded-xl ">
        <tbody class="uppercase text-sm max-sm:p-16 p-4 overflow-x-auto mx-0 rounded-xl">
        <tr class=" text-lg">
            <th scope="col" class="border-2 p-2 ">s/n</th>
            <th scope="col" class="border-2 p-2 ">name</th>
        </tr>
        {%for i in dueA%}
        <tr class="p-6 text-md ">
            <td class="border-2 p-2 text-center">{{forloop.counter}}</td>
            <td class="border-2 p-2 text-center">{{i}}</td>       
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
</section>
<p class="mt-4 text-2xl">
    Total:{{due}}
</p>
</div>
    <div class="bg-gradient-to-r from-orange-900 via-orange-600 to-orange-900 w-1/2 mx-auto mt-1 md:p-14 shadow-2xl overflow-hidden sm:rounded-lg backdrop-blur-sm border-2 border-white">
        <section class=" text-center border-b-2 border-white">
            <p class="uppercase border-b-2 border-white text-3xl">retirement</p> 
            <div>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <tbody class="uppercase text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 ">
            <tr class=" text-lg">
                <th scope="col" class="border-2 p-2 ">s/n</th>
                <th scope="col" class="border-2 p-2 ">name</th>
        </tr>
            {%for i in rtA%}
        <tr class="p-6 text-md ">
            <td class="border-2 p-2 text-center">{{forloop.counter}}</td>
            <td class="border-2 p-2 text-center">{{i}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
</section>
<p class="text-2xl mt-4">
    Total:{{rt}}
</p>
</div> -->


<div class="bg-gradient-to-r from-green-900 via-green-600 to-green-900 w-1/2 mx-auto mt-1 md:p-14 bg-white shadow-2xl overflow-hidden sm:rounded-lg backdrop-blur-sm border-2 border-white">
        <section class=" text-center border-b-2 border-white">
            <p class="text-white uppercase border-b-2 border-white text-3xl">promotion</p> 
            <div>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <tbody class="uppercase text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 ">
        <tr class=" text-lg">
            <th scope="col" class="border-2 p-0 ">s/n</th>
            <th scope="col" class="border-2 p-2 ">name</th>
        </tr>

{% for pr in prom %}
        <tr class="p-6 text-md ">
        <td class="border-2 p-0 text-center">{{forloop.counter}}</td>            
        <td class="border-2 p-2 text-center"><a href="{% url 'staff:staffdetail' pr.user.id %}">{{ pr.user.last_name|default_if_none:''|upper }} {{ pr.middlename|default_if_none:''|upper }} {{ pr.user.first_name|default_if_none:''|upper }}</a></td>
    <hr>
{% empty %}
    <p>No data available</p>
{% endfor %}
    </tr>
        </tbody>
    </table>
</div>
</section>
<p class="text-2xl mt-4">
    Total:{{due}}
</p>
</div>
<div class="bg-gradient-to-r from-orange-900 via-orange-600 to-orange-900 w-1/2 mx-auto mt-1 md:p-14 bg-white shadow-2xl overflow-hidden sm:rounded-lg backdrop-blur-sm border-2 border-white">
        <section class=" text-center border-b-2 border-white">
            <p class="text-white uppercase border-b-2 border-white text-3xl">retirement</p> 
            <div>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <tbody class="uppercase text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 ">
        <tr class=" text-lg">
            <th scope="col" class="border-2 p-0 ">s/n</th>
            <th scope="col" class="border-2 p-2 ">name</th>
        </tr>

{% for rti in ret %}
        <tr class="p-6 text-md ">
        <td class="border-2 p-0 text-center">{{forloop.counter}}</td>            
        <td class="border-2 p-2 text-center"><a href="{% url 'staff:staffdetail' rti.user.id %}">{{ rti.user.last_name|default_if_none:''|upper }} {{ rti.middlename|default_if_none:''|upper }} {{ rti.user.first_name|default_if_none:''|upper }}</a></td>
    <hr>
{% empty %}
    <p>No data available</p>
{% endfor %}
    </tr>
        </tbody>
    </table>
</div>
</section>
<p class="text-2xl mt-4">
    Total:{{rt}}
</p>
</div>
<div class="bg-gradient-to-r from-cyan-900 via-cyan-600 to-cyan-900 w-1/2 mx-auto mt-1 md:p-14 bg-white shadow-2xl overflow-hidden sm:rounded-lg backdrop-blur-sm border-2 border-white">
        <section class=" text-center border-b-2 border-white">
            <p class="text-white uppercase border-b-2 border-white text-3xl">leave</p> 
            <div>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <tbody class="uppercase text-sm rounded-lg max-sm:p-16 p-4 overflow-x-auto mx-0 ">
        <tr class=" text-lg">
            <th scope="col" class="border-2 p-0 ">s/n</th>
            <th scope="col" class="border-2 p-2 ">name</th>
        </tr>

{% for personal_detail in personal_details %}
        <tr class="p-6 text-md ">
        <td class="border-2 p-0 text-center">{{forloop.counter}}</td>            
        <td class="border-2 p-2 text-center"><a href="{% url 'staff:staffdetail' personal_detail.user.id %}">{{ personal_detail.user.last_name|default_if_none:''|upper }} {{ personal_detail.middlename|default_if_none:''|upper }} {{ personal_detail.user.first_name|default_if_none:''|upper }}</a></td>
    <hr>
{% empty %}
    <p>No data available</p>
{% endfor %}
    </tr>
        </tbody>
    </table>
</div>
</section>
<p class="text-2xl mt-4">
    Total:{{lv}}
</p>
</div>

</div>
{% endblock %}