<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @page{
            size:landscape;
        }
    </style>
</head>
<body>
    
<table class="table-auto mt-0 max-sm:flex flex P-2 shadow-2xl rounded-lg mb-10">
        
        <tbody class="shadow-2xl text-sm rounded-lg max-sm:p-10 p-1 overflow-x-auto mx-0 text-green-800 border-green-600 bg-white">
            <tr>
                <th scope="col" class="border-2 p-2">S/N</th>
                <th scope="col" class="border-2 p-2">NAME</th>
                <th scope="col" class="border-2 p-2">FILE NUMBER</th>
                <th scope="col" class="border-2 p-2">IPPIS NUMBER</th>
                <th scope="col" class="border-2 p-2" >SEX</th>
                <th scope="col" class="border-2 p-2" >DEPARTMENT</th>
                <th scope="col" class="border-2 p-2">CURRENT POST</th>
                <th scope="col" class="border-2 p-2">DATE OF FIRST APPOINTMENT</th>
                <th scope="col" class="border-2 p-2">SALARY SCALE</th>
                <th scope="col" class="border-2 p-2">GRADE LEVEL</th>
                <!-- <th scope="col" class="border-2 p-2">STEP</th> -->
                <!-- <th scope="col" class="border-2 p-2">PHONE</th> -->
                <th scope="col" class="border-2 p-2">STATE</th>
                    <th scope="col" class="border-2 p-2">LGA</th>
                <th scope="col" class="border-2 p-2">GEO-POLITICAL ZONE</th>
            </tr>   
            <hr>
        {% for u in user %}

            {% if u.is_active and u.is_superuser == False %}
        <tr class="text-sm">

            <td class="border-2 p-4 text-center">
                {{forloop.counter|default_if_none:''}}
            </td>
            <td class="border-2 p-4 text-center">
                <p class="">{{u.last_name|upper|default_if_none:''}} {{u.personaldetail.middlename|default_if_none:''|upper}} {{u.first_name|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p class="">{{u.personaldetail.staff_no|default_if_none:''}} </p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.ippis_no|default_if_none:''}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.personaldetail.gender|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.department|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.current_post|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.date_of_first_appointment|default_if_none:''|date:'d-m-Y'}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.salary_scale|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.grade_level|default_if_none:''}}</p>
            </td>
            <!-- <td class="border-2 p-4 text-center">
                <p>{{u.governmentappointment.step|default_if_none:''}}</p>
            </td> -->
            <!-- <td class="border-2 p-4 text-center">
                <p>{{u.personaldetail.phone_number|default_if_none:''}}</p>
            </td> -->
            <td class="border-2 p-4 text-center">
                <p>{{u.personaldetail.state|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.personaldetail.lga|default_if_none:''|upper}}</p>
            </td>
            <td class="border-2 p-4 text-center">
                <p>{{u.personaldetail.zone|default_if_none:''|upper}}</p>
            </td>        
            </tr>
            {% endif %}
            {% empty %}
        <p class="font-bold text-2xl text-blue-500 mt-4">result not found</p>
         {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- <td></td> -->
     
        </tr>
        </tbody>

</table>

</div>
</body>
</html>