{%extends "base.html" %}

{% block title %}staff details{% endblock%}

{% block main %}

{%load tz %}
						{%if request.path != '/staffhome' %}
						<div class="text-center mb-4">
							<a href="{% url 'staff:staffhome' %}" class=" mb-2 focus:opacity-10 border-b-2 border-gray-500 focus:border-green-600 
							bg-gradient-to-l from-orange-900 via-orange-600 to-orange-900 text-white px-10 p-2 rounded shadow-lg hover:shadow-xl 
							text-center w-full"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
							{%endif%}
						</div> 


<section class="mt-2 flex text-center border-t-2 border-green-800">
  
    </section>
<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : '1' }" id="tab_wrapper">
  <!-- The tabs navigation -->
<p class=" text-2xl text-blue-500 uppercase">
  {% for m in messages%}
      {{m}}
    {%endfor%}  
</p>
  <h1 class="text-2xl text-green-900 text-center p-4 shadow-lg rounded-lg">{{users.last_name|default_if_none:''|upper}} {{users.personaldetail.middlename|default_if_none:''|upper}} {{users.first_name|default_if_none:''|upper}}</h1>
<section class="p-2 flex text-center border-t-2 border-green-800">
  
    </section>
  {%if users.personaldetail.staff_no == None %}
  <div class="mt-2">
    <a href="{% url 'staff:updatedocform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase ">documentation</a>
  </div>
  {%endif %}
  <!-- <a href="{% url 'staff:updateuserform' users.id %}">edit name</a> -->

  <!-- <hr> 
  <a href="{% url 'staff:staffhome' %}">manage others</a>
  <hr>  -->

<div class="min-h-screen overflow-x-auto p-2 mb-4" >
  
  <ul class="flex xs:flex-col flex-wrap justify-center space-x-0 overflow-x-auto p-2 pb-8 text-sm">
    <li >
      <nav> 
    <button :class="{ 'active': tab === '1' }" @click.prevent="tab = '1'; window.location.hash = '1' " 
    class="w-full  p-2 shadow-xl justify-center bg-teal-700 text-gray-200 text-sm  rounded-lg" href="#">
      <a href="#ps">
        <i class="fa-solid fa-circle-info fa-2xl"></i>&nbsp;PERSONAL INFO</button>
      </a>
    </li> &nbsp;
    <li>
    <a :class="{ 'active': tab === '2' }" @click.prevent="tab = '2'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-stone-700 text-gray-200 text-md  rounded-lg" href="#"> 
      <i class="fa-solid fa-users fa-2xl"></i>&nbsp;NEXT OF KIN </a>
    </li>&nbsp;
    <li>
    <a :class="{ 'active': tab === '3' }" @click.prevent="tab = '3'; window.location.hash = ''"class="w-full p-2 shadow-xl justify-center bg-yellow-600 text-gray-100 text-md  rounded-lg" href="#">
      <i class="fa-solid fa-graduation-cap fa-2xl"></i>&nbsp;QUALIFICATIONS</a>
    </li>&nbsp;
    <li>
    <a :class="{ 'active': tab === '4' }" @click.prevent="tab = '4'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-blue-700 text-gray-200 text-md  rounded-lg" href="#">
      <i class="fa-solid fa-file-contract fa-2xl"></i>&nbsp;GOVT APPT</a>
    </li>&nbsp;
    <li>
    <a :class="{ 'active': tab === '5' }" @click.prevent="tab = '5'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-green-700 text-gray-200 text-md  rounded-lg" href="#">
      <i class="fa-solid fa-person-arrow-up-from-line fa-2xl"></i>&nbsp;PROMOTION</a>
  </li>&nbsp;
  <li>
  <a :class="{ 'active': tab === '6' }" @click.prevent="tab = '6'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-red-700 text-gray-200 text-md  rounded-lg" href="#">
    <i class="fa-solid fa-circle-exclamation fa-2xl"></i>&nbsp;DISCIPLINE</a>
</li>&nbsp;
<li>
<a :class="{ 'active': tab === '7' }" @click.prevent="tab = '7'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-sky-700 text-gray-200 text-md  rounded-lg" href="#">
  <i class="fa-solid fa-bed fa-2xl"></i>&nbsp;LEAVE</a>
</li>&nbsp;
<li>
<a :class="{ 'active': tab === '8' }" @click.prevent="tab = '8'; window.location.hash = ''" class="w-full p-2 shadow-xl justify-center bg-fuchsia-700 text-gray-200 text-md  rounded-lg" href="#">
  <i class="fa-solid fa-user-tie fa-2xl"></i>&nbsp;EXECUTIVE APPT</a>
</li>&nbsp;
<li>
<a :class="{ 'active': tab === '9' }" @click.prevent="tab = '9'; window.location.hash = ''"  class="w-full p-2 shadow-xl justify-center bg-orange-900 text-gray-100 text-md  rounded-lg" href="#">
  <i class="fa-solid fa-person-walking-with-cane fa-2xl"></i>&nbsp;RETIREMENT</a>
</li>&nbsp;

</nav>
</ul>
{% if users.personaldetail.dob %}
  <p>Happy Birthday</p>
{%endif%}
{%if users.governmentappointment.retire %}
<p class="text-2xl text-blue-500 uppercase">
  {{users.governmentappointment.rt_by|default_if_none:''}}
</p>
{%endif%}
    <!-- The tabs content -->
<div class="p-2 mt-2 rounded-lg text-center">
  <div x-show="tab === '1'"  class="max-sm:p-10 p-1 rounded-lg" id="ps">
    <h1 class="text-green-700 text-2xl text-center p-2 ">PERSONAL INFORMATION</h1>
    <table class="table-auto mt-0 max-sm:flex flex P-2">
<tbody class="shadow-2xl rounded-lg max-sm:p-10 p-14 overflow-x-auto mx-0 border-2 text-green-800 border-green-600 bg-white">
  <tr class=" text-md rounded-lg">
  <!-- <th scope="col" class="border-2 border-green-800 p-2 ">NAME</th> -->
  <th scope="col" class="border-2 border-green-800 p-2  ">FILE NUMBER</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">SEX</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">DATE OF BIRTH</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">PHONE NUMBER</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">MARITAL STATUS</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">STATE OF ORIGIN</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">LGA</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">SENATORIAL DISTRICT</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">RELIGION</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">RESIDENTIAL ADDRESS</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">PERMANENT HOME ADDRESS</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">GEO-POLITICAL ZONE</th>
  <th scope="col" class="border-t-2 border-r-2 p-2 border-green-800 text-gray-800"></th>
  
</tr>
<tr class="p-6 text-center text-sm ">
<!-- <td class="border-2 p-2 text-center">{{users.last_name|default_if_none:''|upper}} {{users.first_name|default_if_none:''|upper}} {{users.personaldetail.middlename|default_if_none:''|upper}}</td> -->
<td scope="row" class="border-2 border-green-800 p-2">{{users.personaldetail.staff_no|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.gender|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.date_of_birth|date:'d/M/Y'|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.phone_number|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.marital_status|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.state|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.lga|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.senatorial_district|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.religion|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.residential_address|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.permanent_home_address|default_if_none:''|upper}}</td>
<td class="border-2 p-2 border-green-800 text-center">{{users.personaldetail.zone|default_if_none:''|upper}}</td>
<td class="border-r-2 border-green-800 border-b-2 p-4 "> 
<a class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4" href ="{% url 'staff:updateprofileform' users.id %}"><i class="fa-solid fa-square-pen fa-2xl"></i> </a>
</td>
</tr>
</tbody>
</table>
  

    </div>
    <div x-show="tab === '2'" class="shadow-2xl rounded-lg">
      <h1 class="text-green-700 text-2xl text-center p-2 ">NEXT OF KIN</h1>
      <div class="flex lg:flex-row flex-col justify-around text-gray-800 text-2xl text-justify p-2 bg-white">
        <div>
        <div class="text-gray-800 text-2xl text-justify p-4">
          <!-- <a><img src="images/snowden.jpg" alt="" class="object-cover h-48 md:h-auto md:w-96 rounded-lg"></a> -->
      </div>
      <div class="text-gray-800 text-justify p-4 ">
        <p class="p-2 text-green-800">NAME: <span class="text-sm  text-gray-600">{{users.personaldetail.next_of_kin_1_fullname|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">PHONE: <span class="text-sm  text-gray-600">{{users.personaldetail.next_of_kin_1_phone_number|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">EMAIL: <span class="text-sm  text-gray-600">{{users.personaldetail.next_of_kin_1_email|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">ADDRESS: <span class="text-sm  text-gray-600">{{users.personaldetail.next_of_kin_1_address|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">RELATIONSHIP: <span class="text-sm  text-gray-600">{{users.personaldetail.next_of_kin_1_relationship|default_if_none:''|upper}}</span></p> 
      </div>
    </div>
        <div>
        <div class="text-gray-800 text-2xl text-justify p-4">
          <!-- <a><img src="mages/nico.JPG" alt="" class="object-cover h-48 md:h-auto md:w-96 rounded-lg"></a> -->
      </div>
      <div class="text-gray-800 text-justify p-4 ">
        <p class="p-2 text-green-800">NAME: <span class="text-sm font-semibold text-gray-600">{{users.personaldetail.next_of_kin_2_fullname|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">PHONE: <span class="text-sm font-semibold text-gray-600">{{users.personaldetail.next_of_kin_2_phone_number|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">EMAIL: <span class="text-sm font-semibold text-gray-600">{{users.personaldetail.next_of_kin_2_email|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">ADDRESS: <span class="text-sm font-semibold text-gray-600">{{users.personaldetail.next_of_kin_2_address|default_if_none:''|upper}}</span></p> 
        <p class="p-2 text-green-800">RELATIONSHIP: <span class="text-sm font-semibold text-gray-600">{{users.personaldetail.next_of_kin_2_relationship|default_if_none:''|upper}}</span></p> 
      </div>
    </div>
      </div>
    </div>
    <div x-show="tab === '3'" class="shadow-xl rounded-lg p-2">
      <h1 class="text-green-700 text-2xl text-center  p-2"> ACADEMIC QUALIFICATIONS</h1>
       <div class=" flex flex-col justify-center lg:flex-row bg-white">
        <div class="p-4">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">PRIMARY</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.qualification.primary_school_name|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.primary_qualification_type|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.primary_qualification_date_obtained|date:'d-M-Y'|default_if_none:''|upper}}</p>
          </div>
        </div>
        <div class="p-4">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">SECONDARY</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.qualification.secondary_school_name|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.secondary_qualification_type|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.secondary_qualification_date_obtained|date:'d-M-Y'|default_if_none:''|upper}}</p>
          </div>
        </div>
        <div class="p-4">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">TERTIARY</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.qualification.tertiary_institution_name|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.tertiary_institution_qualification_type|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.qualification.tertiary_qualification_date_obtained|date:'d-M-Y'|default_if_none:''|upper}}</p>
          </div>
        </div>
      </div>
      <div class="mb-4 bg-white p-4">
        <a class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"  href="{% url 'staff:updatequalform' users.id %}"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
        <!-- <a class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2"  href="{% url 'staff:updatequalform' users.id %}">UPDATE</a> -->
      </div>
      <h1 class="text-green-700 text-2xl text-center p-2 mt-6"> PROFESSIONAL QUALIFICATIONS</h1>
      <div class=" flex flex-col justify-center lg:flex-row bg-white">
        <div class="p-8">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">QUALIFICATION 1</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_name_1|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_address_1|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_obtained_1|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_date_obtained_1|date:'d-M-Y'|default_if_none:''}}</p>
          </div>
        </div>
        <div class="p-8">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">QUALIFICATION 2</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_name_2|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_address_2|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_obtained_2|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_date_obtained_2|default_if_none:''|upper}}</p>
          </div>
        </div>
        <div class="p-8">
          <h1 class="text-lg text-gray-800 mb-4 text-justify">QUALIFICATION 3</h1>
          <div class="text-md text-gray-600 text-justify">
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_name_3|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_awarding_institute_address_3|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_obtained_3|default_if_none:''|upper}}</p>
            <p class="p-2">{{users.professionalqualification.professional_qualification_date_obtained_3|default_if_none:''|upper}}</p>
          </div>
        </div>
      </div>      
      <div class="mb-4 bg-white p-4">
        <a class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"  href="{% url 'staff:updateproqualform' users.id %}"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
      </div>
    </div>
    
    <div x-show="tab === '4'" class="max-sm:p-1">
      <h1 class="text-green-700 text-2xl text-center p-2 ">GOVERNMENT APPOINTMENT</h1>
    <table class="table-auto mt-0 justify-center max-sm:flex flex p-2">
<tbody class="shadow-2xl text-green-800 rounded-lg max-sm:p-10 p-14 border-2 border-green-800 overflow-x-auto mx-0 uppercase bg-white">
  <tr class=" text-md">
    <th scope="col" class="border-2 border-green-800 p-2 ">department</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">ippis</th>
    <th scope="row" class="border-2 border-green-800 p-2 ">date of first appointment</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">type of appointment</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">current post</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">salary per annum at first appointment</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">salary scale</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">grade level</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">step</th>
    <th scope="col" class="border-t-2 border-r-2 border-green-800 p-2 text-gray-800"></th>
</tr>
<tr class="text-sm">
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.department|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.ippis_no|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.date_of_first_appointment|date:'d-M-Y'|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.type_of_appointment|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.current_post|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.salary_per_annum_at_date_of_first_appointment|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.salary_scale|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.grade_level|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{users.governmentappointment.step|default_if_none:''}}</td>

<td class="p-4 border-r-2 border-green-800 border-b-2"> 
  <a class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4" href="{%url 'staff:updategovtappform' users.id %}"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
    <div x-show="tab === '5'" class="max-sm:p-1">
    <h1 class="text-green-700 text-2xl text-center p-2 ">PROMOTION</h1>
      <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <a href="{% url 'staff:promotionform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase">promote</a>
<tbody class="shadow-2xl text-sm rounded-lg max-sm:p-16 p-20 overflow-x-auto border-2 border-green-800 mx-0 uppercase text-green-800 bg-white">
  <tr class="text-md ">
    <th scope="col" class="border-2 border-green-800 p-2 ">current post</th>
    <th scope="row" class="border-2 border-green-800 p-2 ">promoted date</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">grade level</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">step</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">increment date</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">confirmation date</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">updated on </th>
    <th scope="col" class="border-t-2 border-green-800 border-r-2 p-2 text-gray-800"></th>
</tr>

<tr class="p-6 text-sm text-center">
   {%for i in emp %}
  <td class="border-2 border-green-800 p-2 text-center">{{i.current_post|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.promotion_date|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.grade_level|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.step|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.incremented_date|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.confirmation_date|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.timestamp|default_if_none:''|date:'d-M-Y'}}</td>
  <td class="p-4 border-r-2 border-green-800 border-b-2 font-semibold"> 
  <a href="{%url 'staff:updatepromotionform' i.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
  <!-- <a href="{% url 'staff:removepromotion' i.id %}" class="shadow-xl justify-center bg-red-700 text-gray-100 rounded-lg p-2 ">remove</a> -->
</td>
</tr>
{% empty %}
<p class="p-4  text-lg">promotion record is empty</p>
{%endfor%}
</tbody>
</table>
</div>
  <div x-show="tab === '6'" class="max-sm:p-1">
    <h1 class="text-green-700 text-2xl text-center p-3">DISCIPLINARY</h1>
    <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
      <a href="{% url 'staff:disciplineform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase">discipline form</a>
<tbody class="shadow-2xl text-sm rounded-lg max-sm:p-16 p-20 overflow-x-auto border-2 border-green-800 mx-0 uppercase text-green-800 bg-white">
  <tr class="text-md ">
    <th scope="col" class="border-2 border-green-800 p-2 ">offense</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">decision</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">date</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">comments</th>
    <th scope="col" class="border-2 border-green-800 p-2 ">added on</th>
    <th scope="col" class="border-t-2 border-green-800 border-r-2 p-2 "></th>
</tr>
<tr class="p-6 text-sm">
  {% for i in dis %}
  <td class="border-2 border-green-800 p-2 text-center">{{i.offense|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.decision|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.date|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.comment|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.timestamp|default_if_none:''|date:'d-M-Y'}}</td>
  <td class="p-6 border-r-2 border-green-800 border-b-2"> 
  <a  href="{%url 'staff:updatedisciplineform' i.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
  <!-- <a href="{% url 'staff:removediscipline' i.id %}" class="shadow-xl justify-center bg-red-700 text-gray-100 rounded-lg p-2">remove</a> -->
</td>
</tr>
{%empty%}
<p class="p-4  text-lg">discipline record is empty</p>
{% endfor %}
</tbody>
</table>
  </div>
    <div x-show="tab === '7'" class="max-sm:p-1">
      <h1 class="text-green-700 text-2xl text-center p-3">LEAVE</h1>
      <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        <a href="{% url 'staff:leaveform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase">leave application</a>
<tbody class="shadow-2xl text-sm rounded-lg max-sm:p-16 p-20 overflow-x-auto border-2 border-green-800 mx-0 uppercase text-green-800 bg-white">
<tr class="text-md ">
  <th scope="col" class="border-2 border-green-800 p-2 ">nature of leave</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">year</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">start date</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">total days</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">no of days granted</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">remaining days</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">return date</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">status</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">comments</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">applied on</th>
  <th scope="col" class=" p-2 border-green-800 border-t-2 border-r-2"></th>
</tr>
<tr class="p-6 text-sm ">
  {% for i in liv %}
  <td class="border-2 border-green-800 p-2 text-center">{{i.nature_of_leave|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.year|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.start_date|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.total_days|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.number_of_days_granted|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.remaining_days|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.u_return_date|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.status|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.comment_if_any|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.timestamp|default_if_none:''|date:'d-M-Y'}}<p>signed by: {{request.user}}</p></td>
  <td class="p-4 border-r-2 border-green-800 border-b-2"> 
  <a href="{%url 'staff:updateleaveform' i.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"><i class="fa-solid fa-square-pen fa-2xl"></i></a>
  <!-- <a href="{% url 'staff:removeleave' i.id %}" class="shadow-xl justify-center bg-red-700 text-gray-100 rounded-lg p-2 ">remove</a> -->
</td>
</tr>
{%empty%}
<p class="p-4  text-lg">leave record is empty</p>
{%endfor%}
</tbody>
</table>
</div>
<div x-show="tab === '8'" class="max-sm:p-1">
<h1 class="text-green-700 text-2xl text-center p-3">EXECUTIVE APPOINTMENT</h1>
<table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
  <a href="{% url 'staff:execappform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase">add appointment</a>
<tbody class="uppercase shadow-2xl text-sm rounded-lg max-sm:p-16 p-20 overflow-x-auto border-2 border-green-800 mx-0 text-green-800 bg-white">
<tr class=" text-md">
  <th scope="col" class="border-2 border-green-800 p-2 ">designation</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">appointment date</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">status current out of office</th>
  <th scope="col" class="border-2 border-green-800 p-2 ">promoted on</th>
  <th scope="col" class="border-t-2 border-green-800 border-r-2 p-2"></th>
</tr>
<tr class="p-6 text-sm">
  {% for i in execapp %}
  <td class="border-2 border-green-800 p-2 text-center">{{i.designation_post|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.date_of_appointment|date:'d-M-Y'|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.status_current_out_of_office|default_if_none:''}}</td>
  <td class="border-2 border-green-800 p-2 text-center">{{i.timestamp|default_if_none:''|date:'d-M-Y'}}</td>
  <td class="p-4 border-r-2 border-green-800 border-b-2"> 
  <a href="{%url 'staff:updateexecappform' i.id %}"><p class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"><i class="fa-solid fa-square-pen fa-2xl"></i></p></a>
  <!-- <a href="{% url 'staff:removeexecapp' i.id %}"><p class="shadow-xl justify-center bg-red-700 text-gray-100 rounded-lg p-2">remove</p></a> -->
  </td>
</tr>
{%empty%}
<p class="p-4  text-lg">executive appointment record is empty</p>
{%endfor%}
</tbody>
</table>
    </div>
    <div x-show="tab === '9'" class="max-sm:p-1">
      <h1 class="text-green-700 text-2xl text-center p-3">RETIREMENT</h1>
      <table class="justify-center table-auto mt-0 max-sm:flex p-2 flex">
        {% for i in retire %}
        {%empty%}
        <a href="{% url 'staff:retireform' users.id %}" class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-2 uppercase">retire staff</a>
        {%endfor%}
        <tbody class="uppercase shadow-2xl text-sm rounded-lg max-sm:p-16 border-2 border-green-800 p-20 overflow-x-auto mx-0 text-green-800 bg-white">
          <tr class=" text-md">
            <th scope="col" class="border-2 border-green-800 p-2 ">date retired</th>
            <th scope="col" class="border-2 border-green-800 p-2 ">status</th>
            <th scope="col" class="border-2 border-green-800 p-2 ">retire on</th>
            <th scope="col" class=" p-2 border-t-2 border-green-800 border-r-2"></th>
          </tr> 
<tr class="p-6 text-sm">
  {% for i in retire %}
<td class="border-2 border-green-800 p-2 text-center">{{i.date_retired|date:'d-M-Y'|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{i.status|default_if_none:''}}</td>
<td class="border-2 border-green-800 p-2 text-center">{{i.timestamp|default_if_none:''|date:'d-M-Y'}}</td>
<td class="p-4 border-r-2 border-green-800 border-b-2"> 
  <a href="{%url 'staff:updateretirementform' i.id %}"> <p class="shadow-xl justify-center bg-green-600 text-gray-100 rounded-lg p-4"><i class="fa-solid fa-square-pen fa-2xl"></i></p></a>
  <!-- <a href="{% url 'staff:removeretire' i.id %}"><p class="text-rose-800">remove</p></a> -->
</td>
</tr>
{%empty%}
<p class=" text-lg p-4">retirement record is empty</p>
{%endfor%}
</tbody>
</table>
    </div>
  </div>
</div>  
  </div>
  <style>
 .modal::backdrop {
      background-color: whitesmoke;
}
  </style>
  
  <script>
  const modal=document.querySelector('#modal');
  const openModal=document.querySelector('.open-button');
  const closeModal=document.querySelector('.close-button');

  openModal.addEventListener('click', () => {
    modal.showModal(); 
    })
  closeModal.addEventListener('click', () => {
    modal.close(); 
    })
</script>
{% endblock %}